<div class="settingbox-inner" ng-init="settings.init() ">
<form class="form form-horizontal">
    <div class="form-group">
        <label for="subscribe" ng-show="!settings.isSubscribed" class="col-md-6 control-label" >Would you like to subscribe to occasional push notifications?</label>
        <label for="unsubscribe" ng-show="settings.isSubscribed" class="col-md-6 control-label" >Would you like to unsubscribe from occasional push notifications?</label>
        <div class="col-sm-6">
            <button id="subscribe" ng-show="!settings.isSubscribed" name="subscribe" ng-disabled="!settings.enableSubscribe" type= "checkbox" ng-click="settings.subscribe()">Subscribe</button>
            <button id="unsubscribe" ng-show="settings.isSubscribed" name="subscribe" ng-disabled="!settings.enableSubscribe" type= "checkbox" ng-click="settings.unsubscribe()">Unsubscribe</button>

            <a href="#/home"><button id="back">Back to quiz</button></a>

        </div>
    </div>
</form>
</div>