<!doctype html>
<html lang="en-US" ng-app="quizApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">
    <link rel="stylesheet" href="style/style.css">
    <title>Learn colors, shapes and more.. fun app for preschoolers</title>
</head>
<body >
    <header>
    </header>

    <main ng-controller="QuizCtrl as quiz">
        <div class="vertical-center" >
        <div class="flex-container questionbox-inner">
            <div class="text-center question">
                <h1>{{quiz.question.question}}</h1>
            </div>
            <div ng-repeat="option in quiz.question.options"
                class="text-center answer">
                <button class="btn btn-primary btn-lg" ng-class="{'flash-answer': quiz.flashAnswer && option == quiz.question.answer}" ng-disabled="quiz.disableButtons" ng-click="quiz.clicked(option)">
                    <h2>{{option}}</h2>
                </button>
            </div>
        </div>
        </div>

        <div ng-show="quiz.message" class="cheerbox">
        <div class="cheerbox-inner">
            <div class="cheer">
                <h1 class="text-center">{{quiz.message}}</h1>
            </div>
            <div class="cheer-picture">
                <h1 class="text-center">{{quiz.symbol}}</h1>
            </div>
            </div>
        </div>
    </main>

    <!--jquery-->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <!--bootstrap js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <!--angular routing-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

    <script src="js/all.js"></script>
</body>
</html>