html,
body,
main {
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100%;
}

body {
    background-color: steelblue;
}

.parent-link {
    transform: rotate(-90deg) translate(-100px, -45px);
    position: absolute;
}

.parent-link button {
    padding: 0px 30px;
}

.vertical-center {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flex-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cheerbox {
    width: 100%;
}

.question,
.answer,
.score {
    width: 100%;
}

.question-lg {
    display: none;
}

.cheerbox-inner {
    background-color: lightpink;
    border: 1px solid purple;
    width: 400px;
    max-width: 90%;
    margin: auto;
}

.questionbox-inner .answer-btn {
    width: 90%;
    margin: 10px auto;
}

.flash-answer {
    background-color: blue;
}

.cheer-picture {
    text-align: center;
}

.cheer-picture i {
    color: purple;
}

.cheer-picture h1 {
    font-size: 10em;
    color: purple;
}

.answer button h1 {
    font-size: 3em;
    margin: 0;
}

.question .questionprompt {
    font-size: 5em;
    color: darkblue;
}

.flex-container-sticker {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sticker-sheet {
    background-color: white;
    width: 100%;
    flex-grow: 1;
    border: 1px solid red;
}

.sticker-roll {
    width: 100%;
    height: 100px;
    background-color: white;
    color: blue;
    border: 1px solid green;
    flex-wrap: nowrap;
    padding: 0px;
}

.sticker-roll h1 {
    font-size: 5em;
}

.stickers {
    font-size: 5em;
    color: blue;
    flex-direction: row;
    display: inline;
}

.questionbox-inner,
.menubox-inner,
.settingbox-inner,
.pushtest-inner {
    background-color: lightblue;
    border: 1px solid blue;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .menubox-inner {
        position: absolute;
        width: calc(100%-20px);
        left: 20px;
    }
}

.menu-item {
    width: 100%;
    text-align: center;
}

.menubox-inner a,
.menubox-inner button {
    width: 100%;
    padding: 0;
}

.menubox-inner h1 {
    padding: 0;
}

.push-test-code {
    word-wrap: break-word;
}

@media screen and (min-width: 480px) {
    .answer {
        width: 33%;
    }

    .questionbox-inner {
        width: 90%;
        margin: auto;
    }

    .answer button h1 {
        font-size: 5em;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menubox-inner,
    .settingbox-inner,
    .pushtest-inner {
        width: 50%;
        margin: auto;
    }

    .question-lg {
        display: block;
    }

    .menubox-inner button {
        width: 50%;
    }
}